Django==4.0.4
psycopg2-binary==2.9.3
Pillow~=8.0.0
django-storages==1.12.3
boto3==1.24.5

djangorestframework==3.13.1
django-filter==21.1
django-phonenumber-field[phonenumbers]
django-sendgrid-v5
requests~=2.28.1
beautifulsoup4~=4.11.1